## <span style="color:#5e548e;"><strong>My Movie Journey</strong></span>
##### <span style="color:#9f86c0;">_A personal tour through years of cinema_</span>
### <span style="color:#be95c4;">Victoria Shpetnaya</span>
________________________________________________________________________________________________________________

### 1. About the project

This project is based on my personal experience of the last 10 years of movie watching.

### 2. Ask

#### 2.1. Questions for the analysis

1.  What are some trends in my movie choice in a week?
2.  How is my movie choosing correspond with the Academy Awards (the Oscar)?
3.  Who are my favorites?

#### 2.2. Business task

Identify my movie choosing pattern to:
* to ease potential movie search.
* to diversify my experience.

### 3. Prepare
To start, let’s set up the environment by opening the necessary libraries for the analysis in R.

In [1]:
library("tidyverse")
library("readr")
library("knitr")

Warning message:
"пакет 'tibble' был собран под R версии 4.2.3"
Warning message:
"пакет 'dplyr' был собран под R версии 4.2.3"
Warning message:
"пакет 'stringr' был собран под R версии 4.2.3"
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.1     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message:
"пакет 'knitr' был собран под R версии 4.2.3"

I downloaded my personal data set from "Kinopoisk", which I kept for 10 years since 2010. I used a program which I found on [git](https://github.com/Rocky-04/Movie_Rating_Migrator_Kinopoisk_to_IMDB). It extracted my movies with next columns:

In [2]:
my_tbl <- tibble::tribble(
              ~id, ~russian_movie_names,                  ~english_movie_names,                    ~release_year,                ~user_ratings, ~user_rating_count, ~kinopoisk_ratings,~kinopoisk_ids,                  "1", "Джентльмены предпочитают блондинок",       "Gentlemen Prefer Blondes",                       "1953",                "7",            "24366",
            "7,7",              "11662",                                   "2", "Как выйти замуж за миллионера", "How to Marry a Millionaire",             "1953",                "8",
          "11226",                "7,7",                               "11661"                             
  )

require(knitr)
kable(my_tbl, digits = 3, row.names = FALSE, align = "c",
              caption = NULL)

| id |        russian_movie_names         |    english_movie_names     | release_year | user_ratings | user_rating_count | kinopoisk_ratings | kinopoisk_ids |
|:--:|:----------------------------------:|:--------------------------:|:------------:|:------------:|:-----------------:|:-----------------:|:-------------:|
| 1  | Джентльмены предпочитают блондинок |  Gentlemen Prefer Blondes  |     1953     |      7       |       24366       |        7,7        |     11662     |
| 2  |   Как выйти замуж за миллионера    | How to Marry a Millionaire |     1953     |      8       |       11226       |        7,7        |     11661     |

For broader analysis I needed also the date, when I have seen each movie. That option was not available at this program, so I added it manually.

In [3]:
my_tbl <- tibble::tribble(
               ~id, ~russian_movie_names,                  ~english_movie_names,                    ~release_year,                ~user_ratings, ~user_rating_count, ~kinopoisk_ratings,        ~kinopoisk_ids,
  ~date_of_rating,                  "1", "Джентльмены предпочитают блондинок",       "Gentlemen Prefer Blondes",                       "1953",                "7",            "24366",                 "7,7",
           "11662",  "20.03.2023, 22:35",                                   "2", "Как выйти замуж за миллионера", "How to Marry a Millionaire",             "1953",                "8",               "11226",
             "7,7",              "11661",                   "19.03.2023, 23:08",
  )

require(knitr)
kable(my_tbl, digits = 3, row.names = FALSE, align = "c",
              caption = NULL)

| id |        russian_movie_names         |    english_movie_names     | release_year | user_ratings | user_rating_count | kinopoisk_ratings | kinopoisk_ids |  date_of_rating   |
|:--:|:----------------------------------:|:--------------------------:|:------------:|:------------:|:-----------------:|:-----------------:|:-------------:|:-----------------:|
| 1  | Джентльмены предпочитают блондинок |  Gentlemen Prefer Blondes  |     1953     |      7       |       24366       |        7,7        |     11662     | 20.03.2023, 22:35 |
| 2  |   Как выйти замуж за миллионера    | How to Marry a Millionaire |     1953     |      8       |       11226       |        7,7        |     11661     | 19.03.2023, 23:08 |

For more information on movies that I have watched I downloaded data sets from [IMDB](https://www.imdb.com/interfaces/), which are refreshed daily.

Each dataset is a tab-separated-values (TSV) formatted file in the UTF-8 character set. The first line in each file contains headers that describe what is in each column. A '\N' is used to denote that a particular field is missing or null for that title/name.

For information about the Oscars I used the [Kaggle dataset](https://www.kaggle.com/datasets/unanimad/the-oscar-award) which is an open-source.

#### 3.1. Accessibility and privacy of data:

[IMDB](https://www.imdb.com/interfaces/) dataset is an open-source.

#### 3.2. Data Limitations:

-   No "rewatched" column which is not a option on "Kinopoisk".

### 4. Process

#### 4.1. Exploring data structure

Importing datasets:

In [ ]:
name_df <- read_tsv("name.tsv", show_col_types = FALSE)
crew_df <- read_tsv("crew.tsv", show_col_types = FALSE)
ratings_df <- read_tsv("ratings.tsv", show_col_types = FALSE)
basics_df <- read_tsv("basics.tsv", show_col_types = FALSE)
principals_df <- read_tsv("principals.tsv", show_col_types = FALSE)
akas <- read_tsv("akas.tsv", show_col_types = FALSE) #didn't use

In [5]:
head(name_df)
head(crew_df) 
head(ratings_df)
head(principals_df)
head(basics_df) 
head(akas) 
glimpse(name_df) #over 12.4M rows
glimpse(crew_df) #over 9.7M rows
glimpse(ratings_df) #over 1.2M rows
glimpse(principals_df) #over 54.9M rows
glimpse(basics_df) #over 54.9M rows
glimpse(akas) #over 9.7M rows

  nconst    primaryName     birthYear deathYear
1 nm0000001 Fred Astaire    1899      1987
2 nm0000002 Lauren Bacall   1924      2014
3 nm0000003 Brigitte Bardot 1934      \\N
4 nm0000004 John Belushi    1949      1982
5 nm0000005 Ingmar Bergman  1918      2007
6 nm0000006 Ingrid Bergman  1915      1982
  primaryProfession                   knownForTitles
1 soundtrack,actor,miscellaneous      tt0072308,tt0053137,tt0050419,tt0045537
2 actress,soundtrack                  tt0037382,tt0075213,tt0117057,tt0038355
3 actress,soundtrack,music_department tt0056404,tt0054452,tt0057345,tt0049189
4 actor,soundtrack,writer             tt0078723,tt0080455,tt0072562,tt0077975
5 writer,director,actor               tt0083922,tt0050976,tt0050986,tt0060827
6 actress,soundtrack,producer         tt0036855,tt0038787,tt0038109,tt0034583

  tconst    directors writers
1 tt0000001 nm0005690 \\N
2 tt0000002 nm0721526 \\N
3 tt0000003 nm0721526 \\N
4 tt0000004 nm0721526 \\N
5 tt0000005 nm0005690 \\N
6 tt0000006 nm0005690 \\N

  tconst    averageRating numVotes
1 tt0000001 5.7           1966
2 tt0000002 5.8            263
3 tt0000003 6.5           1803
4 tt0000004 5.6            179
5 tt0000005 6.2           2603
6 tt0000006 5.1            178

  tconst    ordering nconst    category        job
1 tt0000001 1        nm1588970 self            \\N
2 tt0000001 2        nm0005690 director        \\N
3 tt0000001 3        nm0374658 cinematographer director of photography
4 tt0000002 1        nm0721526 director        \\N
5 tt0000002 2        nm1335271 composer        \\N
6 tt0000003 1        nm0721526 director        \\N
  characters
1 ["Self"]
2 \\N
3 \\N
4 \\N
5 \\N
6 \\N

  tconst    titleType primaryTitle           originalTitle          isAdult
1 tt0000001 short     Carmencita             Carmencita             0
2 tt0000002 short     Le clown et ses chiens Le clown et ses chiens 0
3 tt0000003 short     Pauvre Pierrot         Pauvre Pierrot         0
4 tt0000004 short     Un bon bock            Un bon bock            0
5 tt0000005 short     Blacksmith Scene       Blacksmith Scene       0
6 tt0000006 short     Chinese Opium Den      Chinese Opium Den      0
  startYear endYear runtimeMinutes genres
1 1894      \\N     1              Documentary,Short
2 1892      \\N     5              Animation,Short
3 1892      \\N     4              Animation,Comedy,Romance
4 1892      \\N     12             Animation,Short
5 1893      \\N     1              Comedy,Short
6 1894      \\N     1              Short

  titleId   ordering title                     region language types
1 tt0000001 1        Карменсіта                UA     \\N      imdbDisplay
2 tt0000001 2        Carmencita                DE     \\N      \\N
3 tt0000001 3        Carmencita - spanyol tánc HU     \\N      imdbDisplay
4 tt0000001 4        Καρμενσίτα                GR     \\N      imdbDisplay
5 tt0000001 5        Карменсита                RU     \\N      imdbDisplay
6 tt0000001 6        Carmencita                US     \\N      imdbDisplay
  attributes    isOriginalTitle
1 \\N           0
2 literal title 0
3 \\N           0
4 \\N           0
5 \\N           0
6 \\N           0

Rows: 12,405,586
Columns: 6
$ nconst            <chr> "nm0000001", "nm0000002", "nm0000003", "nm0000004", …
$ primaryName       <chr> "Fred Astaire", "Lauren Bacall", "Brigitte Bardot", …
$ birthYear         <chr> "1899", "1924", "1934", "1949", "1918", "1915", "189…
$ deathYear         <chr> "1987", "2014", "\\N", "1982", "2007", "1982", "1957…
$ primaryProfession <chr> "soundtrack,actor,miscellaneous", "actress,soundtrac…
$ knownForTitles    <chr> "tt0072308,tt0053137,tt0050419,tt0045537", "tt003738…
Rows: 9,725,149
Columns: 3
$ tconst    <chr> "tt0000001", "tt0000002", "tt0000003", "tt0000004", "tt00000…
$ directors <chr> "nm0005690", "nm0721526", "nm0721526", "nm0721526", "nm00056…
$ writers   <chr> "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "nm0…
Rows: 1,294,138
Columns: 3
$ tconst        <chr> "tt0000001", "tt0000002", "tt0000003", "tt0000004", "tt0…
$ averageRating <dbl> 5.7, 5.8, 6.5, 5.6, 6.2, 5.1, 5.4, 5.4, 5.3, 6.9, 5.3, 7…
$ numVotes      <dbl> 1966, 263, 1803, 179, 2603, 178, 817, 2101, 204, 7096, 3…
Rows: 54,945,101
Columns: 6
$ tconst     <chr> "tt0000001", "tt0000001", "tt0000001", "tt0000002", "tt0000…
$ ordering   <dbl> 1, 2, 3, 1, 2, 1, 2, 3, 4, 1, 2, 1, 2, 3, 4, 1, 1, 2, 3, 4,…
$ nconst     <chr> "nm1588970", "nm0005690", "nm0374658", "nm0721526", "nm1335…
$ category   <chr> "self", "director", "cinematographer", "director", "compose…
$ job        <chr> "\\N", "\\N", "director of photography", "\\N", "\\N", "\\N…
$ characters <chr> "[\"Self\"]", "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "\\…
Rows: 9,725,149
Columns: 9
$ tconst         <chr> "tt0000001", "tt0000002", "tt0000003", "tt0000004", "tt…
$ titleType      <chr> "short", "short", "short", "short", "short", "short", "…
$ primaryTitle   <chr> "Carmencita", "Le clown et ses chiens", "Pauvre Pierrot…
$ originalTitle  <chr> "Carmencita", "Le clown et ses chiens", "Pauvre Pierrot…
$ isAdult        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ startYear      <chr> "1894", "1892", "1892", "1892", "1893", "1894", "1894",…
$ endYear        <chr> "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "\\N",…
$ runtimeMinutes <chr> "1", "5", "4", "12", "1", "1", "1", "1", "45", "1", "1"…
$ genres         <chr> "Documentary,Short", "Animation,Short", "Animation,Come…
Rows: 34,915,280
Columns: 8
$ titleId         <chr> "tt0000001", "tt0000001", "tt0000001", "tt0000001", "t…
$ ordering        <dbl> 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, …
$ title           <chr> "Карменсіта", "Carmencita", "Carmencita - spanyol tánc…
$ region          <chr> "UA", "DE", "HU", "GR", "RU", "US", "\\N", "JP", "\\N"…
$ language        <chr> "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "\\N", "ja",…
$ types           <chr> "imdbDisplay", "\\N", "imdbDisplay", "imdbDisplay", "i…
$ attributes      <chr> "\\N", "literal title", "\\N", "\\N", "\\N", "\\N", "\…
$ isOriginalTitle <dbl> 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, …

I opted every data set, with exception of "akas" as it has information about titles in different languages.
I decided to use R to reduce the size of data for SQL import.


#### 4.2. Merging data sets

In [6]:
name_crew_df <- merge(x = name_df,y = crew_df, 
             by.x = "nconst", 
             by.y = "directors") %>% 
  select(-c(knownForTitles, writers, primaryProfession))
head(name_crew_df)

  nconst    primaryName    birthYear deathYear tconst
1 nm0000005 Ingmar Bergman 1918      2007      tt0111204
2 nm0000005 Ingmar Bergman 1918      2007      tt0083922
3 nm0000005 Ingmar Bergman 1918      2007      tt0064897
4 nm0000005 Ingmar Bergman 1918      2007      tt0058124
5 nm0000005 Ingmar Bergman 1918      2007      tt0050986
6 nm0000005 Ingmar Bergman 1918      2007      tt0040418

In [7]:
directors_movies_df <- merge(x=name_crew_df,y=basics_df, by = "tconst")  %>% 
  select(-isAdult)
head(directors_movies_df)

  tconst    nconst    primaryName          birthYear deathYear titleType
1 tt0000001 nm0005690 William K.L. Dickson 1860      1935      short
2 tt0000002 nm0721526 Émile Reynaud        1844      1918      short
3 tt0000003 nm0721526 Émile Reynaud        1844      1918      short
4 tt0000004 nm0721526 Émile Reynaud        1844      1918      short
5 tt0000005 nm0005690 William K.L. Dickson 1860      1935      short
6 tt0000006 nm0005690 William K.L. Dickson 1860      1935      short
  primaryTitle           originalTitle          startYear endYear
1 Carmencita             Carmencita             1894      \\N
2 Le clown et ses chiens Le clown et ses chiens 1892      \\N
3 Pauvre Pierrot         Pauvre Pierrot         1892      \\N
4 Un bon bock            Un bon bock            1892      \\N
5 Blacksmith Scene       Blacksmith Scene       1893      \\N
6 Chinese Opium Den      Chinese Opium Den      1894      \\N
  runtimeMinutes genres
1 1              Documentary,Short
2 5              Animation,Short
3 4              Animation,Comedy,Romance
4 12             Animation,Short
5 1              Comedy,Short
6 1              Short

In [ ]:
write_csv(directors_movies_df,"directors_movies_df.csv" )

In [6]:
movies_ratings_df <- merge(x=basics_df,y=ratings_df,by = "tconst") %>% 
  select(-c(isAdult,originalTitle))
head(movies_ratings_df)

  tconst    titleType primaryTitle           startYear endYear runtimeMinutes
1 tt0000001 short     Carmencita             1894      \\N     1
2 tt0000002 short     Le clown et ses chiens 1892      \\N     5
3 tt0000003 short     Pauvre Pierrot         1892      \\N     4
4 tt0000004 short     Un bon bock            1892      \\N     12
5 tt0000005 short     Blacksmith Scene       1893      \\N     1
6 tt0000006 short     Chinese Opium Den      1894      \\N     1
  genres                   averageRating numVotes
1 Documentary,Short        5.7           1966
2 Animation,Short          5.8            263
3 Animation,Comedy,Romance 6.5           1803
4 Animation,Short          5.6            179
5 Comedy,Short             6.2           2603
6 Short                    5.1            178

In [ ]:
movies_ratings_df <- read_csv("movies_ratings_df.csv" )

In [5]:
name_df2 <- name_df %>% 
  separate(knownForTitles,c("t_1","t_2", "t_3", "t_4"), sep=",") 
head(name_df2)

Warning message:
"Expected 4 pieces. Additional pieces discarded in 19 rows [2361320, 2849379,
3755995, 4204600, 5620268, 5648010, 7083996, 7253152, 7566389, 7852305,
8341599, 8758476, 9344118, 9906085, 10009822, 10714929, 11198611, 11379759,
11597477]."
Warning message:
"Expected 4 pieces. Missing pieces filled with `NA` in 10212065 rows [477, 557,
666, 716, 967, 1063, 1364, 1385, 1389, 1390, 1492, 1621, 1663, 1696, 1710,
1741, 1756, 1878, 2073, 2211, ...]."

  nconst    primaryName     birthYear deathYear
1 nm0000001 Fred Astaire    1899      1987
2 nm0000002 Lauren Bacall   1924      2014
3 nm0000003 Brigitte Bardot 1934      \\N
4 nm0000004 John Belushi    1949      1982
5 nm0000005 Ingmar Bergman  1918      2007
6 nm0000006 Ingrid Bergman  1915      1982
  primaryProfession                   t_1       t_2       t_3       t_4
1 soundtrack,actor,miscellaneous      tt0072308 tt0053137 tt0050419 tt0045537
2 actress,soundtrack                  tt0037382 tt0075213 tt0117057 tt0038355
3 actress,soundtrack,music_department tt0056404 tt0054452 tt0057345 tt0049189
4 actor,soundtrack,writer             tt0078723 tt0080455 tt0072562 tt0077975
5 writer,director,actor               tt0083922 tt0050976 tt0050986 tt0060827
6 actress,soundtrack,producer         tt0036855 tt0038787 tt0038109 tt0034583

In [7]:
final_set <- movies_ratings_df  %>%  
  left_join(
    name_df2 %>% 
      pivot_longer(c(starts_with("t_")), values_to = "tconst"))
head(final_set)

Joining with `by = join_by(tconst)`

  tconst    titleType primaryTitle           startYear endYear runtimeMinutes
1 tt0000001 short     Carmencita             1894      \\N     1
2 tt0000002 short     Le clown et ses chiens 1892      \\N     5
3 tt0000003 short     Pauvre Pierrot         1892      \\N     4
4 tt0000003 short     Pauvre Pierrot         1892      \\N     4
5 tt0000003 short     Pauvre Pierrot         1892      \\N     4
6 tt0000003 short     Pauvre Pierrot         1892      \\N     4
  genres                   averageRating numVotes nconst    primaryName
1 Documentary,Short        5.7           1966     nm1588970 Carmencita
2 Animation,Short          5.8            263     NA        NA
3 Animation,Comedy,Romance 6.5           1803     nm0721526 Émile Reynaud
4 Animation,Comedy,Romance 6.5           1803     nm1335271 Gaston Paulin
5 Animation,Comedy,Romance 6.5           1803     nm1770680 Julien Pappé
6 Animation,Comedy,Romance 6.5           1803     nm5442200 Tamara Pappé
  birthYear deathYear primaryProfession                             name
1 1868      1910      soundtrack                                    t_2
2 NA        NA        NA                                            NA
3 1844      1918      director,animation_department,producer        t_2
4 \\N       1921      composer                                      t_2
5 1920      2005      cinematographer,director,animation_department t_1
6 \\N       \\N       editor                                        t_1

In [ ]:
write_csv(final_set,"final_set.csv")

Then I imported the resulting data sets into MS SQL.

#### 4.3. Merging with IMDB
First I joined final data set (R) with movies I watched as "main_movie_list".

In [ ]:
DROP TABLE IF EXISTS my_only_movies
SELECT main_movie_list.*, 
      final_set.tconst,
      final_set.titleType,
      final_set.primaryTitle,
      final_set.startYear,
      final_set.endYear,
      final_set.runtimeMinutes,
      final_set.genres,
      final_set.averageRating,
      final_set.numVotes
INTO my_only_movies
  FROM main_movie_list
  LEFT JOIN final_set
  ON main_movie_list.english_movie_names =
   CASE 
  WHEN final_set.titleType LIKE '%ovie%' or final_set.titleType LIKE '%ideo%' THEN final_set.primaryTitle 
  END
AND
main_movie_list.release_year =
CASE
WHEN final_set.titleType LIKE '%ovie%' or final_set.titleType LIKE '%ideo%' THEN final_set.startYear 
END

In [13]:
SELECT TOP 10 *
FROM my_only_movies

id,russian_movie_names,english_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,kinopoisk_ids,date_of_rating,tconst,titleType,primaryTitle,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849

I counted distinct rows from this data and merged.

In [14]:
SELECT APPROX_COUNT_DISTINCT(tconst), APPROX_COUNT_DISTINCT(id)
FROM my_only_movies /*925, 1216*/

(No column name),(No column name)
925,1216

Then I removed russian movies as IMDB doesn't contain titles in russian, with that it had -63 rows.

In [15]:
Delete 
FROM my_only_movies
WHERE  Len(english_movie_names) = 1 

SELECT APPROX_COUNT_DISTINCT(tconst), APPROX_COUNT_DISTINCT(id)
FROM my_only_movies /*925, 1153*/     -- 63 rows

(No column name),(No column name)
925,1153

#### 4.4. Cleaning the data set.

In [16]:
SELECT APPROX_COUNT_DISTINCT(id)
FROM my_only_movies
WHERE tconst is Null 
/*329 rows which are tv-shows and a few with release_year incomparatabilities,
which I have decided to drop and not manually change*/

Delete
FROM my_only_movies
WHERE tconst is Null /*deleted those rows*/

(No column name)
329

In [17]:
SELECT primaryTitle
FROM my_only_movies
WHERE kinopoisk_ratings is Null
GROUP By primaryTitle /*3 rows returned which I'm going to delete*/

Delete
FROM my_only_movies
WHERE kinopoisk_ratings is Null 
OR  titleType = 'videoGame' 
OR runtimeMinutes is Null /*deleted the rows with no kinopoisk rating and videogames*/

primaryTitle
Kiss the Ground
One Direction: The Only Way Is Up
The Morning After

In [23]:
SELECT TOP 10 *
FROM my_only_movies
GROUP BY [id]
      ,[russian_movie_names]
      ,[english_movie_names]
      ,[release_year]
      ,[user_ratings]
      ,[user_rating_count]
      ,[kinopoisk_ratings]
      ,[kinopoisk_ids]
      ,[date_of_rating]
      ,[tconst]
      ,[titleType]
      ,[primaryTitle]
      ,[startYear]
      ,[endYear]
      ,[runtimeMinutes]
      ,[genres]
      ,[averageRating]
      ,[numVotes]         --864 rows is the final table

id,russian_movie_names,english_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,kinopoisk_ids,date_of_rating,tconst,titleType,primaryTitle,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
1190,Аладдин,Aladdin,1992,9,301139,"8,164",2361,"24.06.2011, 09:26",tt0103639,movie,Aladdin,1992,\N,90,"Adventure,Animation,Comedy",8,430849
234,Звезда родилась,A Star Is Born,2018,7,142817,"7,371",474935,"09.03.2020, 19:54",tt1517451,movie,A Star Is Born,2018,\N,136,"Drama,Music,Romance",7.6,393834
1017,Прощальный поцелуй,The Last Kiss,2006,9,7469,"6,874",86989,"24.07.2012, 12:13",tt0434139,movie,The Last Kiss,2006,\N,115,"Comedy,Drama,Romance",6.4,41917
1025,Мачо и ботан,21 Jump Street,2012,5,230876,"7,023",413080,"07.07.2012, 23:18",tt1232829,movie,21 Jump Street,2012,\N,109,"Action,Comedy,Crime",7.2,569553
448,Жизнь задом наперед,Stuart: A Life Backwards,2007,6,48405,"7,796",302080,"15.08.2016, 15:49",tt0853153,tvMovie,Stuart: A Life Backwards,2007,\N,92,Drama,7.7,12879
694,Мадагаскар,Madagascar,2005,9,389464,"7,975",6006,"04.05.2014, 13:12",tt0351283,movie,Madagascar,2005,\N,86,"Adventure,Animation,Comedy",6.9,413500
455,История любви,Love Story,1970,8,7996,"7,856",5035,"11.08.2016, 20:50",tt0066011,movie,Love Story,1970,\N,100,"Drama,Romance",6.9,35445
808,Клуб «Завтрак»,The Breakfast Club,1985,8,82990,"8,01",21844,"22.08.2013, 13:52",tt0088847,movie,The Breakfast Club,1985,\N,97,"Comedy,Drama",7.8,408957
349,Свадебный угар,Mike and Dave Need Wedding Dates,2016,5,52657,"5,844",756092,"31.01.2018, 21:15",tt2823054,movie,Mike and Dave Need Wedding Dates,2016,\N,98,"Comedy,Romance",6,91371
705,"Жизнь, как она есть",Life as We Know It,2010,8,68468,"7,453",463952,"09.04.2014, 23:46",tt1055292,movie,Life as We Know It,2010,\N,115,"Comedy,Drama,Romance",6.5,134781

#### 4.5. Then I changed data types where it was needed.

In [46]:
EXEC sp_help 'my_only_movies' /*method of viewing column data_types */

Name,Owner,Type,Created_datetime
my_only_movies,dbo,user table,2023-04-06 10:19:40.323

Column_name,Type,Computed,Length,Prec,Scale,Nullable,TrimTrailingBlanks,FixedLenNullInSource,Collation
id,nvarchar,no,200,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
russian_movie_names,nvarchar,no,200,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
english_movie_names,nvarchar,no,200,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
release_year,nvarchar,no,100,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
user_ratings,nvarchar,no,100,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
user_rating_count,nvarchar,no,100,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
kinopoisk_ratings,nvarchar,no,100,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
kinopoisk_ids,nvarchar,no,100,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
date_of_rating,nvarchar,no,100,,,yes,(n/a),(n/a),Cyrillic_General_CI_AS
tconst,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
titleType,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
primaryTitle,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
startYear,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
endYear,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
runtimeMinutes,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
genres,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
averageRating,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS
numVotes,varchar,no,400,,,yes,no,yes,Cyrillic_General_CI_AS

Identity,Seed,Increment,Not For Replication
No identity column defined.,NULL,NULL,NULL

RowGuidCol
No rowguidcol column defined.

Data_located_on_filegroup
PRIMARY

In [24]:
AlTER TABLE my_only_movies
ALTER COLUMN id INT NUll

In [25]:
AlTER TABLE my_only_movies
ALTER COLUMN release_year INT NUll

In [26]:
AlTER TABLE my_only_movies
ALTER COLUMN user_ratings INT NUll

In [27]:
AlTER TABLE my_only_movies
ALTER COLUMN user_rating_count INT NUll

In [ ]:
UPDATE my_only_movies
SET  kinopoisk_ratings = REPLACE(kinopoisk_ratings, ',', '.')

In [ ]:
AlTER TABLE my_only_movies
ALTER COLUMN kinopoisk_ratings FLOAT NUll

In [42]:
AlTER TABLE my_only_movies
ALTER COLUMN averageRating FLOAT NUll

In [43]:
UPDATE my_only_movies
SET date_of_rating = left(date_of_rating, charindex(',', date_of_rating) - 1),
kinopoisk_ratings = ROUND(kinopoisk_ratings, 1)
FROM my_only_movies    /* removed time from date_of_rating, rounded kinipoisk_rating to 1 decimal */


AlTER TABLE my_only_movies
ALTER COLUMN date_of_rating DATE NUll

In [44]:
AlTER TABLE my_only_movies
ALTER COLUMN runtimeMinutes INT NUll

: Msg 245, Level 16, State 1, Line 1
Ошибка преобразования значения varchar "\N" в тип данных int.

In [45]:
UPDATE 
    my_only_movies
SET
    runtimeMinutes = REPLACE(runtimeMinutes, '\N','0')  /*replaced NA's with 0 to then change the data type to integer, 
    as it wasn't possible before there still were varchars (NA)*/

AlTER TABLE my_only_movies
ALTER COLUMN runtimeMinutes INT NUll 

Delete
FROM my_only_movies
WHERE runtimeMinutes = 0

AlTER TABLE my_only_movies
ALTER COLUMN averageRating FLOAT NUll 

AlTER TABLE my_only_movies
ALTER COLUMN numVotes int NUll 

ALTER TABLE my_only_movies
Drop COLUMN kinopoisk_ids,
english_movie_names,
startYear, 
endYear

#### 4.6. Separated genres into 3 column so I can make analysis based on genres later.

In [46]:
/* Separating genres column into 3 */
SELECT TOP 10 PARSENAME (REPLACE(genres, ',', '.'), 3) as genre_1,
PARSENAME (REPLACE(genres, ',', '.'), 2) as genre_2,
PARSENAME (REPLACE(genres, ',', '.'), 1) as genre_3
from my_only_movies                                            /* parsename counts from right to left */

genre_1,genre_2,genre_3
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy
Adventure,Animation,Comedy

In [ ]:
ALTER TABLE my_only_movies
ADD genre_1 VARCHAR(50), genre_2 VARCHAR(50), genre_3 VARCHAR(50)

In [48]:
UPDATE my_only_movies
SET genre_1 = PARSENAME (REPLACE(genres, ',', '.'), 3),
genre_2 = PARSENAME (REPLACE(genres, ',', '.'), 2) ,
genre_3 = PARSENAME (REPLACE(genres, ',', '.'), 1)

### And there it was - the <u>**final cleaned table**</u> for analysis.

In [1]:
DROP TABLE IF EXISTS my_only_movies_set
SELECT *
INTO my_only_movies_set
FROM my_only_movies
WHERE numVotes > 1000
GROUP BY [id]
      ,[russian_movie_names]
      ,[release_year]
      ,[user_ratings]
      ,[user_rating_count]
      ,[kinopoisk_ratings]
      ,[date_of_rating]
      ,[tconst]
      ,[titleType]
      ,[primaryTitle]
      ,[runtimeMinutes]
      ,[genres]
      ,[averageRating]
      ,[numVotes]  
      ,[genre_1] 
      ,[genre_2]
      ,[genre_3]
ORDER BY primaryTitle
SELECT TOP 10 *
FROM my_only_movies_set

id,russian_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,date_of_rating,tconst,titleType,primaryTitle,runtimeMinutes,genres,averageRating,numVotes,genre_1,genre_2,genre_3
1,Джентльмены предпочитают блондинок,1953,7,24366,"7,7",2023-03-20,tt0045810,movie,Gentlemen Prefer Blondes,91,"Comedy,Musical,Romance","7,1",39911,Comedy,Musical,Romance
2,Как выйти замуж за миллионера,1953,8,11226,"7,7",2023-03-19,tt0045891,movie,How to Marry a Millionaire,95,"Comedy,Drama,Romance","6,8",23373,Comedy,Drama,Romance
3,На Золотом пруду,1981,8,2623,"7,8",2023-03-15,tt0082846,movie,On Golden Pond,109,Drama,"7,6",32663,NULL,NULL,Drama
5,Человек дождя,1988,8,339912,"8,2",2023-03-11,tt0095953,movie,Rain Man,133,Drama,8,523021,NULL,NULL,Drama
8,Доводы рассудка,2022,7,6153,6,2023-02-28,tt13456318,movie,Persuasion,108,"Drama,Romance","5,8",31346,NULL,Drama,Romance
11,Страна снов,2022,7,4096,"6,9",2023-02-26,tt13320662,movie,Slumberland,117,"Adventure,Comedy,Drama","6,7",24702,Adventure,Comedy,Drama
13,К тебе или ко мне?,2023,5,3463,"6,2",2023-02-24,tt12823454,movie,Your Place or Mine,109,"Comedy,Romance","5,6",28682,NULL,Comedy,Romance
15,Четыре Рождества,2008,5,34572,"6,2",2023-02-17,tt0369436,movie,Four Christmases,88,"Comedy,Drama,Romance","5,7",75789,Comedy,Drama,Romance
17,Цена измены,2005,7,56526,"7,5",2023-02-11,tt0398017,movie,Derailed,108,"Crime,Drama,Thriller","6,6",74764,Crime,Drama,Thriller
19,В джазе только девушки,1959,9,297776,"8,5",2023-02-05,tt0053291,movie,Some Like It Hot,121,"Comedy,Music,Romance","8,2",271366,Comedy,Music,Romance

## 5\. Analysis

In [58]:
--------------------------------------------------------------------------------------
/* DIRECTORS */
------------------------------------------------------------------------------------------
DROP TABLE IF EXISTS #my_movies_with_director
SELECT my_only_movies_set.*,
directors_movies_df.primaryname AS director
INTO #my_movies_with_director
  FROM my_only_movies_set
  LEFT JOIN directors_movies_df
  ON my_only_movies_set.tconst = directors_movies_df.tconst
 /*joined my movies and directors into new table*/

 SELECT TOP 10 *
 FROM #my_movies_with_director

id,russian_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,date_of_rating,tconst,titleType,primaryTitle,runtimeMinutes,genres,averageRating,numVotes,genre_1,genre_2,genre_3,director
487,Малыш,1921,9,41047,8.2,2016-06-15,tt0012349,movie,The Kid,68,"Comedy,Drama,Family","8,3",128355,Comedy,Drama,Family,Charles Chaplin
842,Леди исчезает,1938,8,6716,7.7,2013-07-13,tt0030341,movie,The Lady Vanishes,96,"Mystery,Thriller","7,8",54282,NULL,Mystery,Thriller,Alfred Hitchcock
1196,Кейт и Лео,2001,8,134242,7.6,2011-06-24,tt0035423,movie,Kate & Leopold,118,"Comedy,Fantasy,Romance","6,4",86310,Comedy,Fantasy,Romance,James Mangold
1,Джентльмены предпочитают блондинок,1953,7,24366,7.7,2023-03-20,tt0045810,movie,Gentlemen Prefer Blondes,91,"Comedy,Musical,Romance","7,1",39911,Comedy,Musical,Romance,Howard Hawks
2,Как выйти замуж за миллионера,1953,8,11226,7.7,2023-03-19,tt0045891,movie,How to Marry a Millionaire,95,"Comedy,Drama,Romance","6,8",23373,Comedy,Drama,Romance,Jean Negulesco
1205,Римские каникулы,1953,10,125660,8.3,2011-05-07,tt0046250,movie,Roman Holiday,118,"Comedy,Romance",8,141418,NULL,Comedy,Romance,William Wyler
182,Зуд седьмого года,1955,4,8524,7.3,2020-08-22,tt0048605,movie,The Seven Year Itch,105,"Comedy,Romance","7,1",40252,NULL,Comedy,Romance,Billy Wilder
23,Забавная мордашка,1957,5,10084,7.5,2023-01-16,tt0050419,movie,Funny Face,103,"Comedy,Musical,Romance",7,31298,Comedy,Musical,Romance,Stanley Donen
19,В джазе только девушки,1959,9,297776,8.5,2023-02-05,tt0053291,movie,Some Like It Hot,121,"Comedy,Music,Romance","8,2",271366,Comedy,Music,Romance,Billy Wilder
1206,Завтрак у Тиффани,1961,10,122276,8.1,2011-05-07,tt0054698,movie,Breakfast at Tiffany's,115,"Comedy,Drama,Romance","7,6",184334,Comedy,Drama,Romance,Blake Edwards

In [59]:
DROP TABLE IF EXISTS my_movies_with_directors_group
SELECT * 
INTO my_movies_with_directors_group
FROM #my_movies_with_director
GROUP BY [id]
      ,[russian_movie_names]
      ,[release_year]
      ,[user_ratings]
      ,[user_rating_count]
      ,[kinopoisk_ratings]
      ,[date_of_rating]
      ,[tconst]
      ,[titleType]
      ,[primaryTitle]
      ,[runtimeMinutes]
      ,[genres]
      ,[averageRating]
      ,[numVotes]  
      ,[genre_1] 
      ,[genre_2]
      ,[genre_3]
      ,[director]

SELECT TOP 10 *
FROM my_movies_with_directors_group

id,russian_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,date_of_rating,tconst,titleType,primaryTitle,runtimeMinutes,genres,averageRating,numVotes,genre_1,genre_2,genre_3,director
1,Джентльмены предпочитают блондинок,1953,7,24366,7.7,2023-03-20,tt0045810,movie,Gentlemen Prefer Blondes,91,"Comedy,Musical,Romance","7,1",39911,Comedy,Musical,Romance,Howard Hawks
2,Как выйти замуж за миллионера,1953,8,11226,7.7,2023-03-19,tt0045891,movie,How to Marry a Millionaire,95,"Comedy,Drama,Romance","6,8",23373,Comedy,Drama,Romance,Jean Negulesco
3,На Золотом пруду,1981,8,2623,7.8,2023-03-15,tt0082846,movie,On Golden Pond,109,Drama,"7,6",32663,NULL,NULL,Drama,Mark Rydell
5,Человек дождя,1988,8,339912,8.2,2023-03-11,tt0095953,movie,Rain Man,133,Drama,8,523021,NULL,NULL,Drama,Barry Levinson
8,Доводы рассудка,2022,7,6153,6,2023-02-28,tt13456318,movie,Persuasion,108,"Drama,Romance","5,8",31346,NULL,Drama,Romance,Carrie Cracknell
11,Страна снов,2022,7,4096,6.9,2023-02-26,tt13320662,movie,Slumberland,117,"Adventure,Comedy,Drama","6,7",24702,Adventure,Comedy,Drama,Francis Lawrence
13,К тебе или ко мне?,2023,5,3463,6.2,2023-02-24,tt12823454,movie,Your Place or Mine,109,"Comedy,Romance","5,6",28682,NULL,Comedy,Romance,Aline Brosh McKenna
15,Четыре Рождества,2008,5,34572,6.2,2023-02-17,tt0369436,movie,Four Christmases,88,"Comedy,Drama,Romance","5,7",75789,Comedy,Drama,Romance,Seth Gordon
17,Цена измены,2005,7,56526,7.5,2023-02-11,tt0398017,movie,Derailed,108,"Crime,Drama,Thriller","6,6",74764,Crime,Drama,Thriller,Mikael Håfström
19,В джазе только девушки,1959,9,297776,8.5,2023-02-05,tt0053291,movie,Some Like It Hot,121,"Comedy,Music,Romance","8,2",271366,Comedy,Music,Romance,Billy Wilder

In [60]:
SELECT APPROX_COUNT_DISTINCT(director) 
FROM my_movies_with_directors_group  /* #499 */

(No column name)
499

In [61]:
/* My top directors */
DROP TABLE IF EXISTS  #my_dir
Select director, COUNT(*) as num_of_films
INTO #my_dir
FROM my_movies_with_directors_group
GROUP By director
HAVING director is not NULL AND COUNT(*) > 4
ORDER by num_of_films DESC
/* 82 directors are Null which mostly are cartoons */

Select * 
FROM #my_dir
ORDER by num_of_films DESC

director,num_of_films
Garry Marshall,11
Chris Columbus,7
Francis Lawrence,6
Nancy Meyers,6
Robert Luketic,6
Tim Burton,5
Paul Feig,5
Peter Jackson,5
John Hughes,5
Adam Shankman,5
Anne Fletcher,5

In [62]:
DROP TABLE IF EXISTS #my_dir_with_movies
Select #my_dir.director, #my_dir.num_of_films, my_movies_with_directors_group.primaryTitle,
(AVG(my_movies_with_directors_group.numVotes + my_movies_with_directors_group.user_rating_count)/2) as avg_num_votes,
ROUND((AVG(my_movies_with_directors_group.kinopoisk_ratings + my_movies_with_directors_group.averageRating)/2),0) as avg_rating
INTO #my_dir_with_movies
FROM #my_dir
LEFT JOIN my_movies_with_directors_group
ON #my_dir.director = my_movies_with_directors_group.director
GROUP BY #my_dir.director, #my_dir.num_of_films, my_movies_with_directors_group.primaryTitle

SELECT top 10 *
FROM #my_dir_with_movies

director,num_of_films,primaryTitle,avg_num_votes,avg_rating
Adam Shankman,5,A Walk to Remember,199254,8
Adam Shankman,5,Bedtime Stories,78565,6
Adam Shankman,5,Cheaper by the Dozen 2,37716,6
Adam Shankman,5,Hairspray,77656,7
Adam Shankman,5,The Wedding Planner,90671,6
Anne Fletcher,5,27 Dresses,106978,7
Anne Fletcher,5,Hot Pursuit,50462,6
Anne Fletcher,5,Step Up,131625,7
Anne Fletcher,5,The Guilt Trip,20777,6
Anne Fletcher,5,The Proposal,400457,7

### Then I made some changes in excel file(pivot, avg) and visualized it in **Tableau.**

In [2]:
%%html
<div class='tableauPlaceholder' id='viz1680760565630' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;Directors_16802650716880&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Directors_16802650716880&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;Directors_16802650716880&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1680760565630');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1024px';vizElement.style.height='795px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1024px';vizElement.style.height='795px';} else { vizElement.style.width='100%';vizElement.style.height='977px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [63]:
---------------------------------------------------------------------------------------
/* ACTORS */
---------------------------------------------------------------------------------------
DROP TABLE IF EXISTS #my_movies_with_n_actors
SELECT my_only_movies_set.*,
principals_set.nconst,
principals_set.category 
INTO #my_movies_with_n_actors
  FROM my_only_movies_set
  LEFT JOIN principals_set
  ON my_only_movies_set.tconst = principals_set.tconst


SELECT TOP 10 *
FROM  #my_movies_with_n_actors                                                   /*joined my movies and n_actors into new table*/

id,russian_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,date_of_rating,tconst,titleType,primaryTitle,runtimeMinutes,genres,averageRating,numVotes,genre_1,genre_2,genre_3,nconst,category
127,За бортом,1987,7,138028,8,2021-04-17,tt0093693,movie,Overboard,112,"Comedy,Romance","6,9",62810,NULL,Comedy,Romance,nm0000443,actress
127,За бортом,1987,7,138028,8,2021-04-17,tt0093693,movie,Overboard,112,"Comedy,Romance","6,9",62810,NULL,Comedy,Romance,nm0000621,actor
127,За бортом,1987,7,138028,8,2021-04-17,tt0093693,movie,Overboard,112,"Comedy,Romance","6,9",62810,NULL,Comedy,Romance,nm0001346,actor
127,За бортом,1987,7,138028,8,2021-04-17,tt0093693,movie,Overboard,112,"Comedy,Romance","6,9",62810,NULL,Comedy,Romance,nm0001340,actress
70,"Самолетом, поездом, машиной",1987,7,21237,7.5,2022-04-15,tt0093748,movie,"Planes, Trains & Automobiles",93,"Comedy,Drama","7,6",149681,NULL,Comedy,Drama,nm0000188,actor
70,"Самолетом, поездом, машиной",1987,7,21237,7.5,2022-04-15,tt0093748,movie,"Planes, Trains & Automobiles",93,"Comedy,Drama","7,6",149681,NULL,Comedy,Drama,nm0001006,actor
70,"Самолетом, поездом, машиной",1987,7,21237,7.5,2022-04-15,tt0093748,movie,"Planes, Trains & Automobiles",93,"Comedy,Drama","7,6",149681,NULL,Comedy,Drama,nm0732309,actress
70,"Самолетом, поездом, машиной",1987,7,21237,7.5,2022-04-15,tt0093748,movie,"Planes, Trains & Automobiles",93,"Comedy,Drama","7,6",149681,NULL,Comedy,Drama,nm0571106,actor
305,Чудо-женщина,2017,8,218916,6.8,2018-12-25,tt0451279,movie,Wonder Woman,141,"Action,Adventure,Fantasy","7,4",668853,Action,Adventure,Fantasy,nm2933757,actress
305,Чудо-женщина,2017,8,218916,6.8,2018-12-25,tt0451279,movie,Wonder Woman,141,"Action,Adventure,Fantasy","7,4",668853,Action,Adventure,Fantasy,nm1517976,actor

In [64]:
DROP TABLE IF EXISTS #temptable
SELECT #my_movies_with_n_actors.*,
final_set.primaryName
INTO #temptable
 FROM #my_movies_with_n_actors
 LEFT JOIN final_set
 ON #my_movies_with_n_actors.nconst = final_set.nconst

In [65]:
DROP TABLE IF EXISTS my_movies_with_actors
SELECT *
into my_movies_with_actors
FROM #temptable

SELECT TOP 10 *
FROM my_movies_with_actors

id,russian_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,date_of_rating,tconst,titleType,primaryTitle,runtimeMinutes,genres,averageRating,numVotes,genre_1,genre_2,genre_3,nconst,category,primaryName
695,Семейка Крудс,2013,8,173377,7.6,2014-05-04,tt0481499,movie,The Croods,98,"Adventure,Animation,Comedy","7,2",220377,Adventure,Animation,Comedy,nm0005351,actor,Ryan Reynolds
509,Дэдпул,2016,6,621617,7.6,2016-05-09,tt1431045,movie,Deadpool,108,"Action,Comedy",8,1055990,NULL,Action,Comedy,nm0005351,actor,Ryan Reynolds
762,Погребенный заживо,2010,8,156857,7.6,2013-10-29,tt1462758,movie,Buried,95,"Drama,Mystery,Thriller",7,163669,Drama,Mystery,Thriller,nm0005351,actor,Ryan Reynolds
913,Хочу как ты,2011,7,80780,6.7,2013-02-28,tt1488555,movie,The Change-Up,112,"Comedy,Fantasy","6,3",187677,NULL,Comedy,Fantasy,nm0005351,actor,Ryan Reynolds
80,Проект «Адам»,2022,5,62416,6.6,2022-04-01,tt2463208,movie,The Adam Project,106,"Action,Adventure,Comedy","6,7",209860,Action,Adventure,Comedy,nm0005351,actor,Ryan Reynolds
1132,Предложение,2009,9,464707,7.7,2011-09-25,tt1041829,movie,The Proposal,108,"Comedy,Drama,Romance","6,7",336207,Comedy,Drama,Romance,nm0005351,actor,Ryan Reynolds
509,Дэдпул,2016,6,621617,7.6,2016-05-09,tt1431045,movie,Deadpool,108,"Action,Comedy",8,1055990,NULL,Action,Comedy,nm1072555,actress,Morena Baccarin
134,Гренландия,2020,7,100194,6.5,2021-03-13,tt7737786,movie,Greenland,119,"Action,Thriller","6,4",121925,NULL,Action,Thriller,nm1072555,actress,Morena Baccarin
509,Дэдпул,2016,6,621617,7.6,2016-05-09,tt1431045,movie,Deadpool,108,"Action,Comedy",8,1055990,NULL,Action,Comedy,nm4534098,actor,Ed Skrein
970,Пережить Рождество,2004,6,23364,6.7,2012-12-12,tt0252028,movie,Surviving Christmas,91,"Comedy,Romance","5,4",26016,NULL,Comedy,Romance,nm0001254,actor,James Gandolfini

In [66]:
SELECT APPROX_COUNT_DISTINCT(nconst) 
FROM my_movies_with_actors  /* #1829 actors */

(No column name)
1829

In [81]:
DROP TABLE IF EXISTS #actors
Select TOP 15 primaryName, COUNT(*)/4 as num_actors /* each movie has 4 primaty actors by default in IMDB */
into #actors
FROM my_movies_with_actors
GROUP BY primaryName, category
HAVING primaryName is not NULL AND category = 'actor' 
ORDER by num_actors DESC, primaryName

SELECT *
FROM #actors

primaryName,num_actors
Adam Sandler,12
Channing Tatum,10
Tom Hanks,10
Zac Efron,10
Chris Evans,9
Jude Law,9
Woody Harrelson,9
Bradley Cooper,8
Daniel Radcliffe,8
Johnny Depp,8
Mark Ruffalo,8
Matt Damon,8
Robert Downey Jr.,8
Robert Pattinson,8
Gerard Butler,7

In [82]:
DROP TABLE IF EXISTS #actress
Select TOP 15 primaryName, category, COUNT(*)/4 as num_actress /* each movie has 4 primaty actors by default in IMDB */
INTO #actress
FROM my_movies_with_actors
GROUP BY primaryName, category 
HAVING primaryName is not NULL AND category = 'actress' 
ORDER by num_actress DESC, primaryName

SELECT *
FROM #actress

primaryName,category,num_actress
Julia Roberts,actress,15
Rachel McAdams,actress,15
Reese Witherspoon,actress,15
Cameron Diaz,actress,13
Jennifer Aniston,actress,13
Meryl Streep,actress,12
Sandra Bullock,actress,12
Anne Hathaway,actress,11
Emma Watson,actress,10
Kate Hudson,actress,10
Emma Stone,actress,9
Hilary Duff,actress,9
Jennifer Lawrence,actress,9
Meg Ryan,actress,9
Scarlett Johansson,actress,9

In [85]:
SELECT TOP 20 * 
FROM (Select #actors.primaryName, #actors.num_actors,
my_movies_with_actors.primaryTitle
FROM #actors
LEFT JOIN my_movies_with_actors
ON #actors.primaryName = my_movies_with_actors.primaryName 
GROUP BY #actors.primaryName,  #actors.num_actors, my_movies_with_actors.primaryTitle
) as a
ORDER BY num_actors DESC

primaryName,num_actors,primaryTitle
Adam Sandler,12,50 First Dates
Adam Sandler,12,Bedtime Stories
Adam Sandler,12,Blended
Adam Sandler,12,Click
Adam Sandler,12,Grown Ups
Adam Sandler,12,Grown Ups 2
Adam Sandler,12,Hotel Transylvania
Adam Sandler,12,Just Go with It
Adam Sandler,12,Little Nicky
Adam Sandler,12,Murder Mystery
Adam Sandler,12,Reign Over Me
Adam Sandler,12,That's My Boy
Channing Tatum,10,21 Jump Street
Channing Tatum,10,22 Jump Street
Channing Tatum,10,Dear John
Channing Tatum,10,Magic Mike
Channing Tatum,10,Magic Mike XXL
Channing Tatum,10,Side Effects
Channing Tatum,10,Smallfoot
Channing Tatum,10,Step Up

In [86]:
SELECT TOP 20 *
FROM (Select #actress.primaryName, #actress.num_actress,
my_movies_with_actors.primaryTitle
FROM #actress
LEFT JOIN my_movies_with_actors
ON #actress.primaryName = my_movies_with_actors.primaryName 
GROUP BY #actress.primaryName,  #actress.num_actress, my_movies_with_actors.primaryTitle) as b
ORDER BY num_actress DESC

primaryName,num_actress,primaryTitle
Julia Roberts,15,Closer
Julia Roberts,15,Dying Young
Julia Roberts,15,Eat Pray Love
Julia Roberts,15,Erin Brockovich
Julia Roberts,15,Mirror Mirror
Julia Roberts,15,Mona Lisa Smile
Julia Roberts,15,Mother's Day
Julia Roberts,15,My Best Friend's Wedding
Julia Roberts,15,Notting Hill
Julia Roberts,15,Pretty Woman
Julia Roberts,15,Runaway Bride
Julia Roberts,15,Sleeping with the Enemy
Julia Roberts,15,Steel Magnolias
Julia Roberts,15,Stepmom
Julia Roberts,15,Valentine's Day
Rachel McAdams,15,About Time
Rachel McAdams,15,Doctor Strange
Rachel McAdams,15,Eurovision Song Contest: The Story of Fire Saga
Rachel McAdams,15,Game Night
Rachel McAdams,15,Mean Girls

In [87]:
---------------------------------------------------------------------------------------------------------------
/*oscars*/
---------------------------------------------------------------------------------------------------------------
/* winners */
---------------------------------------------------------------------------------------------------------------

SELECT TOP 10 *
FROM the_oscar_award_set

year_film,year_ceremony,ceremony,category,name,film,winner
1927,1928,1,ACTOR,Richard Barthelmess,The Noose,0
1927,1928,1,ACTOR,Emil Jannings,The Last Command,1
1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,0
1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,1
1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,0
1927,1928,1,ART DIRECTION,Rochus Gliese,Sunrise,0
1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,1
1927,1928,1,ART DIRECTION,Harry Oliver,7th Heaven,0
1927,1928,1,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,0
1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,1

In [88]:
SELECT APPROX_COUNT_DISTINCT(film)
FROM the_oscar_award_set
WHERE winner = 1 AND 
(category = 'BEST PICTURE' OR 
category = 'ANIMATED FEATURE FILM' OR 
category = 'DIRECTING' OR 
category = 'CINEMATOGRAPHY'  OR 
category = 'DOCUMENTARY FEATURE FILM' OR 
category = 'INTERNATIONAL FEATURE FILM') /* 180 movie have won in these main categories */

(No column name)
180

In [ ]:
DROP TABLE IF EXISTS #oscars_set
SELECT [IMDB].[dbo].[my_only_movies_set].[release_year]
      ,[IMDB].[dbo].[my_only_movies_set].[user_ratings]
      ,[IMDB].[dbo].[my_only_movies_set].[primaryTitle]
      ,[IMDB].[dbo].[my_only_movies_set].[runtimeMinutes]
      ,[IMDB].[dbo].[my_only_movies_set].[user_rating_count]
      ,[IMDB].[dbo].[my_only_movies_set].[kinopoisk_ratings]
      ,[IMDB].[dbo].[my_only_movies_set].[averageRating]
      ,[IMDB].[dbo].[my_only_movies_set].[numVotes]
      ,[IMDB].[dbo].[my_only_movies_set].[genre_1]
      ,[IMDB].[dbo].[my_only_movies_set].[genre_2]
      ,[IMDB].[dbo].[my_only_movies_set].[genre_3]
      ,[IMDB].[dbo].[the_oscar_award_set].[winner]
      ,[IMDB].[dbo].[the_oscar_award_set].[category]
INTO #oscars_set
FROM [IMDB].[dbo].[my_only_movies_set]
INNER JOIN [IMDB].[dbo].[the_oscar_award_set]
ON [IMDB].[dbo].[my_only_movies_set].[primaryTitle] = [IMDB].[dbo].[the_oscar_award_set].[film]

In [91]:
SELECT TOP 10 *
FROM (SELECT primaryTitle, release_year, user_ratings, 
user_rating_count, kinopoisk_ratings, averageRating, numVotes, 
ROUND((AVG(kinopoisk_ratings + averageRating)/2),0) as people_rating,
(ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0) -100) as perc
FROM  #oscars_set
WHERE winner = 1 AND 
(category = 'BEST PICTURE' OR 
category = 'ANIMATED FEATURE FILM' OR 
category = 'DIRECTING' OR 
category = 'CINEMATOGRAPHY'  OR 
category = 'DOCUMENTARY FEATURE FILM' OR 
category = 'INTERNATIONAL FEATURE FILM') 
GROUP BY primaryTitle, release_year, user_ratings, user_rating_count, kinopoisk_ratings, averageRating, numVotes) as o 

/* 32 movies I watched that had won in main nominations*/

primaryTitle,release_year,user_ratings,user_rating_count,kinopoisk_ratings,averageRating,numVotes,people_rating,perc
12 Years a Slave,2013,8,268851,7.8,"8,1",711021,8,0
American Beauty,1999,6,230561,8,"8,4",1166635,8,-25
Avatar,2009,8,941876,8,"7,9",1331063,8,0
Big Hero 6,2014,8,294855,8,"7,8",471294,8,0
Birdman or (The Unexpected Virtue of Ignorance),2014,6,210183,7.6,"7,7",641280,8,-25
Bonnie and Clyde,1967,8,24802,7.7,"7,7",115588,8,0
Brave,2012,6,211669,7.4,"7,1",420092,7,-14
Coco,2017,10,618660,8.7,"8,4",524452,9,11
Encanto,2021,8,116221,7.5,"7,2",231920,7,14
Finding Nemo,2003,8,311646,7.9,"8,2",1057717,8,0

In [92]:
---------------------------------------------------------------------------------------------------------------
/* nominees */
---------------------------------------------------------------------------------------------------------------
SELECT APPROX_COUNT_DISTINCT(film)
FROM the_oscar_award_set
WHERE winner = 0 AND 
(category = 'BEST PICTURE' OR 
category = 'ANIMATED FEATURE FILM' OR 
category = 'DIRECTING' OR 
category = 'CINEMATOGRAPHY'  OR 
category = 'DOCUMENTARY FEATURE FILM' OR 
category = 'INTERNATIONAL FEATURE FILM') 
/* 740 movie have nominations in these categories */

(No column name)
740

In [94]:
SELECT TOP 10 * 
FROM (SELECT primaryTitle, release_year, user_ratings, 
user_rating_count, kinopoisk_ratings, averageRating, numVotes, 
ROUND((AVG(kinopoisk_ratings + averageRating)/2),0) as people_rating,
(ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0) -100) as perc
FROM  #oscars_set
WHERE winner = 0 AND
(category = 'BEST PICTURE' OR 
category = 'ANIMATED FEATURE FILM' OR 
category = 'DIRECTING' OR 
category = 'CINEMATOGRAPHY'  OR 
category = 'DOCUMENTARY FEATURE FILM' OR 
category = 'INTERNATIONAL FEATURE FILM') 
GROUP BY primaryTitle, release_year, user_ratings, user_rating_count, kinopoisk_ratings, averageRating, numVotes) as o
ORDER BY release_year
 /* 83 movies I watched that had been nominated in main nominations*/

primaryTitle,release_year,user_ratings,user_rating_count,kinopoisk_ratings,averageRating,numVotes,people_rating,perc
Roman Holiday,1953,10,125660,8.3,8,141418,8,25
Funny Face,1957,5,10084,7.5,7,31298,7,-29
Some Like It Hot,1959,9,297776,8.5,"8,2",271366,8,13
Bonnie and Clyde,1967,8,24802,7.7,"7,7",115588,8,0
Love Story,1970,8,7996,7.9,"6,9",35445,7,14
The Way We Were,1973,7,5673,7.8,7,26012,7,0
Kramer vs. Kramer,1979,7,48253,8,"7,8",148449,8,-12
On Golden Pond,1981,8,2623,7.8,"7,6",32663,8,0
Rain Man,1988,8,339912,8.2,8,523021,8,0
Dead Poets Society,1989,7,194086,8.2,"8,1",503232,8,-12

In [ ]:
---------------------------------------------------------------------------------------------------------------
/* noms and wons by actors */
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
Select TOP 25 primaryName, category, COUNT(*) as num_actors
into #my_actors
FROM my_movies_with_actors
GROUP BY primaryName, category 
HAVING primaryName is not NULL AND category = 'actor' 
ORDER by num_actors DESC, primaryName

Select TOP 25 primaryName, category, COUNT(*) as num_actors
into #my_actress
FROM my_movies_with_actors
GROUP BY primaryName, category 
HAVING primaryName is not NULL AND category = 'actress' 
ORDER by num_actors DESC, primaryName

In [98]:
DROP TABLE IF EXISTS #my_actors_oscar
SELECT #my_actors.primaryName,
the_oscar_award_set.year_ceremony,
the_oscar_award_set.film,
the_oscar_award_set.category,
the_oscar_award_set.winner
INTO #my_actors_oscar
FROM #my_actors
LEFT JOIN the_oscar_award_set
ON #my_actors.primaryName = the_oscar_award_set.name

In [101]:
SELECT TOP 10 *
FROM #my_actors_oscar

primaryName,year_ceremony,film,category,winner
Robert De Niro,1975,The Godfather Part II,ACTOR IN A SUPPORTING ROLE,1
Robert De Niro,1977,Taxi Driver,ACTOR IN A LEADING ROLE,0
Robert De Niro,1979,The Deer Hunter,ACTOR IN A LEADING ROLE,0
Robert De Niro,1981,Raging Bull,ACTOR IN A LEADING ROLE,1
Tom Hanks,1989,Big,ACTOR IN A LEADING ROLE,0
Robert De Niro,1991,Awakenings,ACTOR IN A LEADING ROLE,0
Robert De Niro,1992,Cape Fear,ACTOR IN A LEADING ROLE,0
Robert Downey Jr.,1993,Chaplin,ACTOR IN A LEADING ROLE,0
Tom Hanks,1994,Philadelphia,ACTOR IN A LEADING ROLE,1
Liam Neeson,1994,Schindler's List,ACTOR IN A LEADING ROLE,0

In [102]:
DROP TABLE IF EXISTS #my_actress_oscar
SELECT #my_actress.primaryName,
the_oscar_award_set.year_ceremony,
the_oscar_award_set.film,
the_oscar_award_set.category,
the_oscar_award_set.winner
INTO #my_actress_oscar
FROM #my_actress
LEFT JOIN the_oscar_award_set
ON #my_actress.primaryName = the_oscar_award_set.name

In [103]:
SELECT TOP 10 *
FROM #my_actress_oscar
---------------------------------------------------------------------------------------------------------------

primaryName,year_ceremony,film,category,winner
Meryl Streep,1979,The Deer Hunter,ACTRESS IN A SUPPORTING ROLE,0
Meryl Streep,1980,Kramer vs. Kramer,ACTRESS IN A SUPPORTING ROLE,1
Meryl Streep,1982,The French Lieutenant's Woman,ACTRESS IN A LEADING ROLE,0
Meryl Streep,1983,Sophie's Choice,ACTRESS IN A LEADING ROLE,1
Meryl Streep,1984,Silkwood,ACTRESS IN A LEADING ROLE,0
Meryl Streep,1986,Out of Africa,ACTRESS IN A LEADING ROLE,0
Meryl Streep,1988,Ironweed,ACTRESS IN A LEADING ROLE,0
Meryl Streep,1989,A Cry in the Dark,ACTRESS IN A LEADING ROLE,0
Julia Roberts,1990,Steel Magnolias,ACTRESS IN A SUPPORTING ROLE,0
Julia Roberts,1991,Pretty Woman,ACTRESS IN A LEADING ROLE,0

### I made some changes in excel file **(pivot tables, avg, vlookup)** and visualized it in **Tableau.**

In [1]:
%%html
<div class='tableauPlaceholder' id='viz1680776492463' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ac&#47;Actresses&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Actresses&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ac&#47;Actresses&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1680776492463');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='900px';vizElement.style.height='927px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='900px';vizElement.style.height='927px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [ ]:
---------------------------------------------------------------------------------------------------------------
/* ratings */
---------------------------------------------------------------------------------------------------------------
SELECT [genre_1] 
      ,[genre_2]
      ,[genre_3], /* ROUND((AVG(kinopoisk_ratings + averageRating)/2),0) AS people_ratings, */
 ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0) as perc
FROM my_only_movies_set
GROUP BY primaryTitle, release_year, user_ratings, genre_1, genre_2 ,genre_3

I extracted rating difference between my ratings and avg kinopoisk and IMDB ratings. 
Continuied my work in excel where I made pivot tables and then vizualizied them in Tableau.

In [2]:
%%html
<div class='tableauPlaceholder' id='viz1680777613177' style='position: relative'><noscript><a href='#'><img alt='Difference in ratings, % ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ra&#47;Ratingdifference&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Ratingdifference&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ra&#47;Ratingdifference&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1680777613177');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='800px';vizElement.style.height='527px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='800px';vizElement.style.height='527px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

I decided to check if I have a bias towardss some actors: 

### "Do I tend to rate mvoies with certain actors higher then others?'

In [107]:
/* Moves I rated higher then most people */

DROP TABLE IF EXISTS #movies_with_higher_rating
SELECT [release_year]
      ,[primaryTitle]
      ,[tconst]
/* , ROUND((AVG(kinopoisk_ratings + averageRating)/2),0) AS people_ratings,  */
, (ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0)-100) as perc
into #movies_with_higher_rating
FROM my_only_movies_set
GROUP BY [release_year]
      ,[user_ratings]
      ,[user_rating_count]
      ,[kinopoisk_ratings]
      ,[date_of_rating]
      ,[tconst]
      ,[titleType]
      ,[primaryTitle]
      ,[runtimeMinutes]
      ,[averageRating]
HAVING (ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0)-100) > 0

SELECT TOP 10 *
FROM #movies_with_higher_rating

release_year,primaryTitle,tconst,perc
1921,The Kid,tt0012349,13
1937,Snow White and the Seven Dwarfs,tt0029583,25
1939,Gone with the Wind,tt0031381,25
1942,Bambi,tt0034492,13
1953,How to Marry a Millionaire,tt0045891,14
1953,Roman Holiday,tt0046250,25
1955,Lady and the Tramp,tt0048280,25
1959,Some Like It Hot,tt0053291,13
1961,Breakfast at Tiffany's,tt0054698,25
1961,One Hundred and One Dalmatians,tt0055254,25

In [108]:
DROP TABLE IF EXISTS #movies_with_higher_rating_with_ac
SELECT [#movies_with_higher_rating].release_year
,[#movies_with_higher_rating].primaryTitle
,[#movies_with_higher_rating].perc
,[principals_set].category
,[final_set].primaryName
INTO #movies_with_higher_rating_with_ac
FROM #movies_with_higher_rating
LEFT JOIN principals_set
ON #movies_with_higher_rating.tconst = principals_set.tconst
LEFT JOIN final_set
ON principals_set.nconst = final_set.nconst

SELECT TOP 10 *
FROM #movies_with_higher_rating_with_ac

release_year,primaryTitle,perc,category,primaryName
2003,Cheaper by the Dozen,17,actress,Piper Perabo
1995,Balto,13,actor,Jim Cummings
2008,The Little Mermaid: Ariel's Beginning,14,actor,Jim Cummings
1992,Aladdin,13,actor,Jonathan Freeman
1992,Aladdin,13,actress,Linda Larkin
2010,The Twilight Saga: Eclipse,33,actor,Xavier Samuel
1992,Aladdin,13,actor,Scott Weinger
1961,One Hundred and One Dalmatians,25,actress,Betty Lou Gerson
2012,Total Recall,33,actor,Bryan Cranston
2014,Godzilla,17,actor,Bryan Cranston

In [128]:
DROP TABLE IF EXISTS #temp2
SELECT TOP 25 primaryName,  COUNT(primaryName)/4 as n_of_times
INTO #temp2
FROM #movies_with_higher_rating_with_ac
GROUP BY primaryName
ORDER BY n_of_times DESC   /* actors who when starring in a movie I tend to rate higher then most */

SELECT TOP 10 *
FROM #temp2

primaryName,n_of_times
Anne Hathaway,8
Reese Witherspoon,8
Hilary Duff,7
Kate Hudson,7
Rachel McAdams,7
Robert Pattinson,7
Adam Sandler,6
Cameron Diaz,6
Daniel Radcliffe,6
Julia Roberts,6

In [116]:
 /* Moves I rated lower then most people */ 

SELECT [release_year]
      ,[primaryTitle]
      ,[tconst]
/* , ROUND((AVG(kinopoisk_ratings + averageRating)/2),0) AS people_ratings,  */
, (ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0)-100) as perc
into #movies_with_lower_rating
FROM my_only_movies_set
GROUP BY [release_year]
      ,[user_ratings]
      ,[user_rating_count]
      ,[kinopoisk_ratings]
      ,[date_of_rating]
      ,[tconst]
      ,[titleType]
      ,[primaryTitle]
      ,[runtimeMinutes]
      ,[averageRating]
HAVING (ROUND(((user_ratings / ROUND((AVG(kinopoisk_ratings + averageRating)/2),0)) * 100), 0)-100) < 0

SELECT TOP 10 *
FROM #movies_with_lower_rating

release_year,primaryTitle,tconst,perc
1955,The Seven Year Itch,tt0048605,-43
1957,Funny Face,tt0050419,-29
1978,Grease,tt0077631,-29
1979,Kramer vs. Kramer,tt0079417,-12
1984,Sixteen Candles,tt0088128,-14
1987,"Planes, Trains & Automobiles",tt0093748,-12
1989,Dead Poets Society,tt0097165,-12
1991,Sleeping with the Enemy,tt0102945,-29
1991,Dying Young,tt0101787,-14
1991,Wild Hearts Can't Be Broken,tt0103262,-12

In [117]:
SELECT [#movies_with_lower_rating].release_year
,[#movies_with_lower_rating].primaryTitle
,[#movies_with_lower_rating].perc
,[principals_set].category
,[final_set].primaryName
INTO #movies_with_lower_rating_with_ac
FROM #movies_with_lower_rating
LEFT JOIN principals_set
ON #movies_with_lower_rating.tconst = principals_set.tconst
LEFT JOIN final_set
ON principals_set.nconst = final_set.nconst

In [118]:
SELECT TOP 10 *
FROM #movies_with_lower_rating_with_ac

release_year,primaryTitle,perc,category,primaryName
2005,Imagine Me & You,-29,actress,Piper Perabo
2009,Knowing,-14,actor,Chandler Canterbury
2012,Chronicle,-43,actor,Alex Russell
2018,Life of the Party,-17,actress,Melissa McCarthy
2013,The Heat,-14,actress,Melissa McCarthy
2015,Spy,-14,actress,Melissa McCarthy
2018,Life of the Party,-17,actor,Ben Falcone
2011,A Few Best Men,-33,actor,Xavier Samuel
2012,The First Time,-14,actor,James Frecheville
2005,In Her Shoes,-14,actor,Anson Mount

In [127]:
DROP TABLE IF EXISTS #temp1
SELECT TOP 25 primaryName, COUNT(primaryName)/4  as n_of_times
into #temp1
FROM #movies_with_lower_rating_with_ac
GROUP BY primaryName
ORDER BY n_of_times DESC  /* actors who when starring in a movie I tend to rate lower then most */

SELECT TOP 10 *
FROM #temp1

primaryName,n_of_times
Adam Sandler,6
Jude Law,6
Cate Blanchett,5
Emma Thompson,5
Meryl Streep,5
Tom Hanks,5
Bradley Cooper,4
Chris Evans,4
Emma Watson,4
Gwyneth Paltrow,4

In [129]:
SELECT APPROX_COUNT_DISTINCT(#movies_with_lower_rating_with_ac.primaryName)
FROM #movies_with_lower_rating_with_ac
INNER JOIN #movies_with_higher_rating_with_ac
ON #movies_with_lower_rating_with_ac.primaryName = #movies_with_higher_rating_with_ac.primaryName  
 /* 261 actor in both tables */

(No column name)
261

In [130]:
SELECT #temp1.*,
#temp2.*
FROM #temp1
INNER JOIN  #temp2
ON #temp1.primaryName = #temp2.primaryName /* 7 actors of top 25 are in both tables */

---------------------------------------------------------------------------------------------------------------

primaryName,n_of_times,primaryName,n_of_times
Adam Sandler,6,Adam Sandler,6
Meryl Streep,5,Meryl Streep,5
Emma Watson,4,Emma Watson,5
Jennifer Aniston,4,Jennifer Aniston,5
Julia Roberts,4,Julia Roberts,6
Reese Witherspoon,4,Reese Witherspoon,8
Zac Efron,4,Zac Efron,6

7 actors of top 25 were in both tables which indicates that I don not have bias based on actors.

In [132]:
---------------------------------------------------------------------------------------------------------------
/*date*/
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
SELECT TOP 10 *
FROM my_only_movies_set
WHERE numVotes > 1000
ORDER BY primaryTitle

id,russian_movie_names,release_year,user_ratings,user_rating_count,kinopoisk_ratings,date_of_rating,tconst,titleType,primaryTitle,runtimeMinutes,genres,averageRating,numVotes,genre_1,genre_2,genre_3
495,"Кловерфилд, 10",2016,7,132410,6.9,2016-06-01,tt1179933,movie,10 Cloverfield Lane,103,"Drama,Horror,Mystery","7,2",336556,Drama,Horror,Mystery
1016,10 причин моей ненависти,1999,8,146396,7.8,2012-08-01,tt0147800,movie,10 Things I Hate About You,97,"Comedy,Drama,Romance","7,3",353429,Comedy,Drama,Romance
1186,101 далматинец,1996,8,78824,6.8,2011-06-25,tt0115433,movie,101 Dalmatians,103,"Adventure,Comedy,Crime","5,7",113459,Adventure,Comedy,Crime
95,12 рождественских свиданий,2011,7,4932,6.8,2022-01-01,tt1846442,tvMovie,12 Dates of Christmas,90,"Comedy,Family,Fantasy","6,3",7422,Comedy,Family,Fantasy
1044,Мальчики из календаря,2009,6,690,5.9,2012-06-08,tt1446201,tvMovie,12 Men of Christmas,95,"Comedy,Romance","5,5",2520,NULL,Comedy,Romance
559,12 лет рабства,2013,8,268851,7.8,2015-06-28,tt2024544,movie,12 Years a Slave,134,"Biography,Drama,History","8,1",711021,Biography,Drama,History
847,127 часов,2010,7,248923,7.7,2013-07-01,tt1542344,movie,127 Hours,94,"Biography,Drama","7,5",383854,NULL,Biography,Drama
1210,Из 13 в 30,2004,8,76662,6.9,2011-01-28,tt0337563,movie,13 Going on 30,98,"Comedy,Fantasy,Romance","6,3",199047,Comedy,Fantasy,Romance
1039,16 желаний,2010,7,12100,6.1,2012-06-14,tt1646876,tvMovie,16 Wishes,90,"Drama,Family,Fantasy","5,4",14687,Drama,Family,Fantasy
1211,Папе снова 17,2009,8,160431,7.1,2011-01-28,tt0974661,movie,17 Again,102,"Comedy,Drama,Fantasy","6,4",206314,Comedy,Drama,Fantasy

In [133]:
ALTER TABLE my_only_movies_set
ADD week_day VARCHAR(10)

In [134]:
UPDATE my_only_movies_set
SET week_day = case datepart(WEEKDAY,[date_of_rating])       
  When 1 Then 'Monday'      
  When 2 Then 'Tuesday'       
  When 3 Then 'Wednesday'     
  When 4 Then 'Thursday'   
  When 5 Then 'Friday'     
  When 6 Then 'Saturday'     
  When 7 Then 'Sunday'
END

In [137]:
SELECT TOP 10 *
FROM (SELECT genre_1, genre_2, genre_3, week_day
FROM my_only_movies_set) as d

genre_1,genre_2,genre_3,week_day
Comedy,Musical,Romance,Monday
Comedy,Drama,Romance,Sunday
NULL,NULL,Drama,Wednesday
NULL,NULL,Drama,Saturday
NULL,Drama,Romance,Tuesday
Adventure,Comedy,Drama,Sunday
NULL,Comedy,Romance,Friday
Comedy,Drama,Romance,Friday
Crime,Drama,Thriller,Saturday
Comedy,Music,Romance,Sunday

I extracted this table as a excel file, created pivots and made a tableau viz.

In [6]:
%%html
<div class='tableauPlaceholder' id='viz1680794036713' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wh&#47;WhatgenredoIchoosethroughouttheweek&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='WhatgenredoIchoosethroughouttheweek&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wh&#47;WhatgenredoIchoosethroughouttheweek&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1680794036713');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='700px';vizElement.style.height='527px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='700px';vizElement.style.height='527px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [138]:
SELECT TOP 10 *
FROM (SELECT [genre_1] 
      ,[genre_2]
      ,[genre_3]
      ,[date_of_rating]
      , datepart(year,[date_of_rating]) as year
From my_only_movies_set 
GROUP BY
       [genre_1] 
      ,[genre_2]
      ,[genre_3]
      ,[date_of_rating]) as y

genre_1,genre_2,genre_3,date_of_rating,year
Comedy,Musical,Romance,2023-03-20,2023
Comedy,Drama,Romance,2023-03-19,2023
NULL,NULL,Drama,2023-03-15,2023
NULL,NULL,Drama,2023-03-11,2023
NULL,Drama,Romance,2023-02-28,2023
Adventure,Comedy,Drama,2023-02-26,2023
NULL,Comedy,Romance,2023-02-24,2023
Comedy,Drama,Romance,2023-02-17,2023
Crime,Drama,Thriller,2023-02-11,2023
Comedy,Music,Romance,2023-02-05,2023

In [4]:
%%HTML
<div class='tableauPlaceholder' id='viz1680793987297' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;HowmanymoviesdidIwatcheveryyear&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='HowmanymoviesdidIwatcheveryyear&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;HowmanymoviesdidIwatcheveryyear&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1680793987297');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='700px';vizElement.style.height='527px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='700px';vizElement.style.height='527px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### Comparing rating and activity of users on "Kinopoisk" and "IMDB"

In [23]:
SELECT ((AVG(kinopoisk_ratings)/AVG(averageRating) * 100) - 100) as total,
AVG(user_rating_count) as kinopoisk_users, AVG(numVotes) as imdb_users,
(AVG(1.0 * user_rating_count)/ AVG(numVotes)) as diff_in_votes
FROM my_only_movies_set

total,kinopoisk_users,imdb_users,diff_in_votes
"7,346134542818234",137051,215670,0.635469

"Kinopoisk" has in average a 7.35% higher rating and 63,54% less number of votes per movie than "IMDB".

### "Do movies longer then 2 hours tend to have less views?"

In [4]:
SELECT (
      (SELECT MAX(numVotes) FROM
      (SELECT top 50 percent numVotes FROM my_only_movies_set ORDER BY numVotes ASC) AS one_half)
      +
      (SELECT MIN(numVotes) FROM
      (SELECT top 50 percent numVotes FROM my_only_movies_set ORDER BY numVotes DESC) AS sec_half)
) /2 as median,
AVG(numVotes) as avg_user_rating /* median is 113591, avg is 215670 */
FROM my_only_movies_set

median,avg_user_rating
113591,215670

In [15]:
SELECT TOP 10 *
FROM (SELECT [release_year]
      ,[primaryTitle]
      ,[runtimeMinutes]
      ,[numVotes]
      , ROUND((([numVotes]/113591) * 100), 0) - 100 as per_of_median
FROM my_only_movies_set
WHERE runtimeMinutes >= 120) as a

release_year,primaryTitle,runtimeMinutes,numVotes,per_of_median
1988,Rain Man,133,523021,300
1959,Some Like It Hot,121,271366,100
2022,Glass Onion,139,368526,200
1999,Notting Hill,124,321631,100
2009,It's Complicated,121,94799,-100
2022,Where the Crawdads Sing,125,88552,-100
1965,The Sound of Music,172,242008,100
2005,Pride & Prejudice,129,304579,100
2019,Jumanji: The Next Level,123,259180,100
2003,Something's Gotta Give,128,124334,0

In [5]:
%%html
<div class='tableauPlaceholder' id='viz1680794006225' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;Domovieslongerthan2hrstendtohavelessviews&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Domovieslongerthan2hrstendtohavelessviews&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;Domovieslongerthan2hrstendtohavelessviews&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1680794006225');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='800px';vizElement.style.height='627px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='800px';vizElement.style.height='627px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

As we can see, the length of movies don't really correlate with views.

## 6. Share

Key findings from this project:

* Favorite genres: **comedy, drama, romance**, and I tend to rate higher animations, documentaries and family movies, tрough I do rate lower fantasy, musicals, crime and horror. But I do not rate higher or lower based on my favorite actors or actresses.

* I **prefer romance any day of the week; comedy on Tue, Fri and Sat; drama on Thu; family on Mon, Wed**. Sometimes I like to surpise myself with a bit of fantasy, sci-fi or thriller.

* I have **the highest number of watched movies in 2013** and it significantly decreased in the next year and **continued to decrese**. I guess that it is due to the start of university (2014) and I haven't had that much free time ever since.

* **Most watched director is Garry Marshall** (Pretty Woman, The Princess Diaries, Overboard), which is robust as he is famous for making movies in my favourite genres, though his movies have less then median views. Based on that finding I've added few films to watch in the near future, which most likely I will enjoy.

* Favorite actors are **Adam Sandler, Channing Tatum, Tom Hanks, Zac Efron** which  are most known for their roles in comedy, drama and romance. Only Tom Hanks out four of them have been nominated 3 times for the Oscar and won twice.

* Favorite actresses are **Julia Roberts, Rachel McAdams, Reese Witherspoon** which again are most known for their roles in comedy, drama and romance. All three were nominated for the Oscar, though Rachel McAdams haven't won yet.

* As for the Oscars: I've watched **32 movies out of 180** which have won in the main nominations (which is  17,8%), and **only 83 movies which had been nominated in main categories, out of 740 (which is 11,2%)**, so I added a few to my list "To Watch" to expand the horizons of the awarded movies.

* "Kinopoisk" has in average a 7.35% higher rating and 63,54% less number of votes per movie than "IMDB'.

* Movies longer then 2 hours do not tend to have less views.